@media screen  and (min-width:481px) and (max-width:768px){
    main{
        display: flex;
        flex-direction: row;
    }
    section{
        height: 300px;
        
    }
}
@media screen  and (min-width:769px) and (max-width: 1200px){
    main{
        display: flex;
        flex-direction: row;
    }

}
    