@media screen  and (min-width:481px) and (max-width:768px){
    body{
        background-image: linear-gradient(to bottom, #8a2be2, rgba(5, 182, 5, 0.7));
    }
    section{
        display: flex;
        width: 80vw;
        height: 40vh;
    }
    .imagem{
        width: 50vw;
        height: 100%;
    }
}
@media screen  and (min-width:769px){
    body{
        background-image: linear-gradient(to bottom, #8a2be2, rgba(5, 182, 5, 0.7));
    }
    section{
        display: flex;
        width: 600px;
        height: 50vh;
        flex-direction: row-reverse;
    }
    .imagem{
        width: 50%;
        height: 100%;
    }
    .informacoes{
        width: 50%;
    }
    .informacoes > p , h1{
        font-size: 20px;
    }
}